<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>رادیو اسکریپت</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Vazirmatn", "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
      .container {
        margin: 0 auto;
        padding: 20px;
      }
      .header {
        text-align: right;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
      }
      .header img {
        height: 40px;
      }
      .content {
        color: #000;
        padding: 40px 0;
        border-radius: 8px;
        text-align: right;
      }
      .greeting {
        font-size: 32px;
        margin-bottom: 8px;
      }
      .message {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      .otp-code {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 30px 0;
        font-family: monospace;
      }

      .footer {
        margin-top: 20px;
        text-align: center;
        color: #666;
        font-size: 14px;
      }
      .footer a {
        color: #000000;
        text-decoration: none;
      }
      .address {
        margin-top: 10px;
        font-size: 14px;
      }
    </style>
  </head>
  <body dir="rtl">
    <div class="container">
      <div class="header">
        <img
          src="https://radioscript.live/images/logo/radio-script-full-logo.svg"
          alt="رادیو اسکریپت"
        />
      </div>
      <div class="content">
        <div class="greeting">درود،</div>
        <div class="message">
          این رمز یکبار‌مصرف شماست، این کد را در اختیار دیگران قرار نده.
        </div>
        <code class="otp-code">{{otp}}</code>
      </div>
      <div class="footer">
        <p>اگر هرگونه سوال یا مشکلی دارید با پشتیبانی تماس بگیرید.</p>
        <a href="https://radioscript.live" class="address">رادیو اسکریپت</a>
      </div>
    </div>
  </body>
</html>
